body {
    height: 100%;
    background-color: #e6e6fa !important;
}


.marker {
    background-image: url('https://docs.mapbox.com/help/demos/custom-markers-gl-js/mapbox-icon.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
}