.marker {
    background-image: url('/media/static/marker.png');
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    background-color: red;
}