{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
    {% comment %} <link rel="stylesheet" href="{% static 'styles/main.css' %}"> {% endcomment %}

    {% block custom_js %}
    {% endblock %}
    
    {% block title %}
    {% endblock %}
</head>
<body>

    <div class="ui top fixed menu">
        <div class="header item">
            Bucket Tripper
        </div>
        <a class="item">
            Blog
        </a>
        <a class="item">
            Follow
        </a>
        <a class="item">
            Locations
        </a>
        <div class="right menu">

            {% comment %} {% if user.is_authenticated %}
            <a class="item" href="/myprofile/"><span style="text-transform:uppercase">{{ user.profile.name }}</span></a>
            <a class="item" href="{% url 'logout' %}">LOGOUT</a>
            {% else %} {% endcomment %}
            <a class="item" id="login" type="button">LOG-IN</a>
            <a class="item" id="signup" type="button">SIGN-UP</a>

        </div>
    </div>

</body>
</html>