{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Bucket Tripper</title>
{% endblock %}

{%block content%}


    <div class="ui grid" style="visibility: 100px;">
        <div class="row">


            <img class="ui centered massive image" src="https://i.pinimg.com/originals/66/fd/5f/66fd5f82fced16f33041cf434c0c8e6d.jpg" style="width: 100%; height: 60vh">


        </div>

        <div class="row">
            <div class="five wide column">
                <div class="ui placeholder">
                    <div class="paragraph">

                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>

                    </div>
                </div>
            </div>

            <div class="five wide column">
                <div class="ui placeholder">
                    <div class="paragraph">

                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>

                    </div>
                </div>
            </div>

            <div class="five wide column">
                <div class="ui placeholder">
                    <div class="paragraph">

                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>

                    </div>
                </div>
            </div>

        </div>
    </div>





{% endblock %}