{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Bucket Tripper</title>
{% endblock %}

{%block content%}
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
    <link
    rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
    type="text/css"
    />

    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>



        <div class ="ui twelve wide centered grid">

                <div class="one wide column" style="margin-top: 60px; position: fixed; left: 0"> 
                    <div class="ui vertical menu">

                        {% for map in maps %}
                            <a class = "item" href="/{{ profile.user.username}}/maps/{{map.id}}">
                                {{ map.name }}
                            </a>
                        {% endfor %}

                    </div>
                </div>


                <div class="ten wide column" style="margin-top: 30px;">
                    <div id="map" style="min-height: 95vh; margin-top: 20px;"></div>
                </div>


                <div class="three wide column" style="margin-top: 60px; margin-left: 10px;">
                    <h5>{{current_map.description}}</h5>
                </div>

        </div>








    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiamRlbGlzbyIsImEiOiJja2c2cG9raW0wMjUzMzRsaHBkcjR6Z3R5In0.b7ytY30b9YXV5oQqsuuPeg';


        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [0, 30],
            zoom: 1.3,
            renderWorldCopies: true,
            dragRotate: false,
            scrollZoom: false,
            dragPan: false,
            maxZoom: 1.3,
        });

        var geocoder = new MapboxGeocoder({
            accessToken: mapboxgl.accessToken,
            mapboxgl: mapboxgl
            })


        
        map.addControl(geocoder);
        map.on('moveend', function(e) {

            var coord = map.getCenter();
            console.log(coord);
            document.getElementById('longinput').value = coord.lng;
            document.getElementById('latinput').value = coord.lat;
            
        })

         var geojson = {
            type: 'FeatureCollection',
            features: [

                {% for location in locations %}
                    {
                    type: 'Feature',
                    geometry: {
                        type: 'Point',
                        coordinates: [{{location.long}}, {{location.lat}}]
                    },
                    properties: {
                        title: '{{location.name}}',
                        description: "{{location.description}}",
                    }
                },
                {% endfor %}
            ]};


        geojson.features.forEach(function(marker) {

            // create a HTML element for each feature
            var el = document.createElement('div');
            el.className = 'marker';

            // make a marker for each feature and add to the map
            new mapboxgl.Marker(el)
                .setLngLat(marker.geometry.coordinates)
                .setPopup(new mapboxgl.Popup({ offset: 25 })
                .setHTML('<h1>' + marker.properties.title + '</h1><p>' + marker.properties.description + '</p>'))
                .addTo(map);
        });

    </script>

{% endblock %}